html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #page {
    display: flex;
    height: 100%;
  }
  
  #lefthalf {
    height: 100%;
    max-width:40%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em; /* Add some padding to ensure #splash is not touching the edge of the window */
    background-color: black;
    color: white;
  }
  
  
    #splash {
        width: 100%;
        max-width: 29rem;
        height: auto;
        display: block;
        margin: 0 auto;
    }

  #logo,
  #quote {
    margin: 0;
  }

  #logo{
    align-self: start;
    width: 100%;
    font-size: calc(1.5rem + 1.5vw); /* Adjusts between 1.5rem and ~4.5rem based on viewport width */
    max-width: 29rem;
    margin-left: 10px;
    margin-bottom: 10px;
}
  
  #righthalf {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: lightgray; /* Example color */
    justify-content: center;
    align-items: center;
  }

  #ContactInformation{
    font-size: 20px;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

#firstnamestuff{
    display: flex;
    flex-direction: column;
}

#lastnamestuff{
    display: flex;
    flex-direction: column;
}

 #firstname{
    font-size: 20px;
    background-color: rgb(32, 32, 53);
    color: white;
 }

 #lastname{
    font-size: 20px;
    background-color: rgb(32, 32, 53);
    color: white;

}

  #emailstuff{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding-bottom: 20px;

  }

  #email{
    font-size: 20px;
    background-color: rgb(32, 32, 53);
    color: white;
  }

  #title{
    max-width: 10rem;
    border-bottom: 2px solid black;
    align-content: center;
    text-align: center;
  }

#passwordstuff{
    font-size: 20px;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#passwordthings{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding-bottom: 20px;}

#confirmstuff{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding-bottom: 20px;
}

#password{
    font-size: 20px;
    background-color: rgb(32, 32, 53);
    color: white;

}

#confirm{
    font-size: 20px;
    background-color: rgb(32, 32, 53);
    color: white;
}

#buttonstuff{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding-bottom: 20px;
}

#submit{
    align-self: center;
    font-size: 2rem;
    color: white;
    background-color: rgb(71, 93, 189);
}
/*--------------interactions----------------*/

#firstname::placeholder{
    background-color: lightgrey;
    color: gray;
}

#firstname:hover {
    border: 2px solid blue;
}

#lastname::placeholder{
    background-color: lightgrey;
    color: gray;
}

#lastname:hover {
    border: 2px solid blue;
}

#email::placeholder{
    background-color: lightgrey;
    color: gray;
}

#email:hover {
    border: 2px solid blue;
}

#password::placeholder{
    background-color: lightgrey;
    color: gray;
}

#password:hover {
    border: 2px solid blue;
}

#confirm::placeholder{
    background-color: lightgrey;
    color: gray;
}

#confirm:hover {
    border: 2px solid blue;
}

#submit:active{
    background-color: rgb(32, 32, 53);
    color: white;
}
